<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>API_KEY</key>
    <string>AIzaSyDhmBD5AQ8WLJ9ZwjiVVfL7nckESL4GTPg</string>
    <key>GCM_SENDER_ID</key>
    <string>1084333440327</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>io.BoyWhoCode.ChatApp</string>
    <key>PROJECT_ID</key>
    <string>chatapp-84ed3</string>
    <key>STORAGE_BUCKET</key>
    <string>chatapp-84ed3.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:1084333440327:ios:6647e454ca94b79a7c2062</string>
</dict>
</plist>
